{% extends 'shared/base_publica.html' %}
{% from 'shared/macros.html' import input, select, button %}
{% block subtitulo %}Cadastrar{% endblock %}
{% block conteudo %}
<link rel="stylesheet" href="/static/css/styles.css">
<div class="row">
    <div class="col-6 offset-3" id="blackCard">
        {%- include("includes/messages.html") -%}
        <form action="/post_cadastrar" method="post">
            <div>
                <div>
                    <h1>Crie sua conta</h1>
                </div>
                <div class="card-body">
                    {{ input('nome', 'Nome', attributes='required') }}
                    {{ input('email', 'E-mail', 'email', attributes='required') }}
                    <div class="row">
                        <div class="divisaoForm">
                            {{ input('cpf', 'CPF', 'cpf', attributes='required') }}
                        </div>
                        <div class="divisaoForm">
                            {{ input('data_nascimento', 'Data de Nascimento', 'date', attributes='required') }}
                        </div>
                    </div>
                    {{ input('telefone', 'Telefone', attributes='required') }}
                    {{ input('senha', 'Senha', 'password', attributes='required') }}
                    {{ input('confsenha', 'Confirme a Senha', 'password', attributes='required') }}
                </div>
                <div class="card-footer">
                    {{ button('Cadastrar') }}
                    <div class="mt-3">
                        Já é cadastrado? <a href="/">Clique aqui</a> para entrar.
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}