{% macro input(type,id,name,placeholder, icon_class, value='', attributes='') -%}
<div class="form-row">
    <div class="input-group mb-2">
        <input type="{{type}}" class="custom-input" id={{id}} name={{name}}
            value="{{value|e}}" {{attributes|safe}}
            placeholder="{{placeholder}}" required>
        <div class="input-group-append">
            <span class="input-group-text"><i class="{{icon_class}}"></i></span>
        </div>
    </div>
</div>
{%- endmacro %}

{% macro button(text) -%}
<button class="black-card-button" type="submit">{{text}}</button> <!-- Botão de submit -->
{%- endmacro %}

{% macro select(name, label, options, value='', attributes='') -%}
<div class="form-floating">
    <select class="form-select" id="{{name}}" name="{{name}}" {{attributes|safe}}>
        <option value="" selected>Escolha uma opção...</option>
        {% for option in options %}
        <option value="{{option['value']}}" {% if value==option['value']: %}selected{% endif %}>{{option['label']}}</option>
        {% endfor %}
    </select>
    <label for="{{name}}">{{label}}</label>    
</div>
{%- endmacro %}